.outer{
    padding-top: 7rem;
    margin-left: 0rem;
    margin-right: 0rem;

}

.container{
margin-left: 3rem;
text-align: center;
padding-left:28rem;
padding-right: 5rem;
margin-right: 0rem;
}
.row {
    width: 60rem;
}

body{
 margin: 0%;
    background-color: rgba(253, 253, 255, 0.904);
}
p span {
    color: blue;
    cursor: pointer;
}